<div class="section" id="certifications">
    <div class="container">
      <div class="h4 text-center mb-4 title">Certifications</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                      <div class="progress-container progress-primary">
                        <ul>
                            <li class="title">
                                <h6 class="category">Accenture Java Greenfield Training Certificate</h6>
                            </li>
                            <li class="title">
                                <h6 class="category">Certificate of Merit in Online International Maths Olympiad(IMO)</h6>
                            </li>
                            <li class="title">
                                <h6 class="category">Certificate of Summer Internship from IIM Bangalore for working in social enterprise(Farmveda)</h6>
                            </li>
                        </ul>
                            
                        
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>      