<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2015-2019</p>
                        <div class="h5">Bachelor Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Bachelor of Technology</div>
                        <h4 class="category">NATIONAL INSTITUTE OF TECHNOLOGY, DURGAPUR</h4>
                        <div class="non_list">Durgapur, West Bengal, India</div>
                        <ul>

                            <li>Completed B.Tech in Bio-Technology with <b>8 CGPA</b>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2012-2013</p>
                        <div class="h5">Higher Secondary School</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Higher Secondary School</div>
                        <h4 class="category">P.P.SAVANI VIDHYABHAVAN</h4>
                        <div class="non_list">Surat, Gujarat, India</div>
                        <ul>
                            <li>Completed HSC with <b>80%</b>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2011-2012</p>
                        <div class="h5">Secondary School</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Secondary School</div>
                        <h4 class="category">SANSKAR VIDHYABHAVAN</h4>
                        <div class="non_list">Surat, Gujarat, India</div>
                        <ul>
                            <li>Completed SSC with <b>93.6%</b>.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>